# Database name
DB_NAME=authflow_next

# MongoDB Atlas connection string | Replace this with your URI
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority

# JWT Secret for authentication | Replace this with your token
JWT_SECRET=31dff510e4834143e1a5c678405bdfc8

# App URL for generate link
APP_URL=https://authflownext.vercel.app